@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");


:root {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    --red: 0, 100%, 67%;
    --yellow: hsl(39, 100%, 56%);
    --green: hsl(166, 100%, 37%);
    --blue: hsl(234, 85%, 45%);
    --light-red: rgba(255, 87, 87, 0.1);
    --light-yellow: hsla(39, 100%, 56%, 0.1);
    --light-green: hsla(166, 100%, 37%, 0.1);
    --light-blue: hsla(234, 85%, 45%, 0.1);
    font-family: 'Hanken Grotesk';
    font-size: 18px;
    --font-thin: 500;
    --font-regular: 700;
    --font-bold: 800;
}

body {
    margin: 0;
    padding: 0;
}

.my-10 {
    margin: 10px 0;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.py-10 {
    padding: 10px 0;
}

.right {
    float: right;
}

.rounded-5 {
    border-radius: 5px;
}

.text-bold {
    font-weight: 800;
}

.text-thin {
    font-weight: 500;
}

main {
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 100vh;
}

.card {
    background-color: white;
    border-radius: 25px;
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    width: 740px;
    height: auto;
}

.result {
    width: 300px;
    padding: 40px 60px;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: hsl(241, 100%, 89%);
    text-align: center;
    border-radius: 25px;
}

.score {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    margin: 30px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.points {
    color: white;
    font-size: 60px;
}

.total {
    color: hsl(241, 100%, 89%);
}

.grade {
    font-size: 32px;
    color: white;
}

.summary {
    width: 370px;
    padding: 40px;
    justify-content: first baseline;
}

.detail {
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
    vertical-align: middle;
}



button {
    margin: 10px 0;
    padding: 20px 100px;
    border-radius: 30px;
    border-style: none;
    background-color: hsl(224, 30%, 27%);
    font-size: 18px;
    font-weight: 500;
    color: white;
}

button:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.text-medium {
    font-size: 24px;
}

.text-large {
    font-size: 32px;
}

.text-red {
    color: var(--red);
}

.text-yellow {
    color: var(--yellow);
}

.text-green {
    color: var(--green);
}

.text-blue {
    color: var(--blue);
}

.bg-light-red {
    background-color: var(--light-red);
}

.bg-light-yellow {
    background-color: var(--light-yellow);
}

.bg-light-green {
    background-color: var(--light-green);
}

.bg-light-blue {
    background-color: var(--light-blue);
}

@media screen and (max-width: 600px) {

    main {
        width: 100%;
        align-items: baseline;
    }

    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: none;
    }

    .result {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        border-radius: 0 0 20px 20px;
    }

    .summary {
        padding: 0;
        margin: 0;
    }

    .detail {
        width:90%;
        border-radius: 10px;
        vertical-align: middle;
    }
}


.flex-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.summary-item {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
    background-color: hsla(var(--item-color), 0.1);
}

.summary-item svg {
    stroke: hsl(var(--item-color));
}

.summary-item-title {
    color: hsl(var(--item-color));
    font-weight: var(--fw-bold);
}

.summary-item[data-item-type="red"] {
    --item-color: var(--red);
}

.summary-score {
    font-weight: var(--font-bold);
    color: hsl(224, 30%, 27%, .5);
}

.summary-score span {
    color: hsl(224, 30%, 27%);
}